body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    background-image: url("elems/img/indexBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.info{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width:100%;
    height:auto;
}

.info div{
    background-color: #ffdbbd;
    border: 5px solid gray;
    border-radius: 30px;
    flex: 1 0;
    -webkit-flex: 1 0;
    margin: 20px;
}
.info div.com{
    background-color: #fdcda5;
}
.info p{
    margin: 10px;
    font-family: corbert;
    font-size: 28px;
}
.info em{

}