<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../static/input.css">
        <link rel="stylesheet" type="text/css" href="../static/fonts.css">
    </head>

    <body>
        <a href="/"><h>Validdit</h></a>
        <div class="first-sec">
            <div class="logo">
                <img id="_1" src="../static/elems/img/multicolorCircle.png" alt="Third circle next to logo on the left"/>
                <img id="_2" src="../static/elems/img/multicolorCircle.png" alt="Second circle next to logo on the left"/>
                <img id="_3" src="../static/elems/img/multicolorCircle.png" alt="First circle next to logo on the left"/>
                <img id="_4" src="../static/elems/img/logo.png" alt="Website logo"/>
                <img id="_3" src="../static/elems/img/multicolorCircle.png" alt="Circle next to logo on the right" />
                <img id="_2" src="../static/elems/img/multicolorCircle.png" alt="Circle next to logo on the right" />
                <img id="_1" src="../static/elems/img/multicolorCircle.png" alt="Circle next to logo on the right"/>
            </div>
            <form class= "options" method="POST" action="/search">
                <input id="main" type="text" name='link' placeholder="Enter a reddit post by URL...">       
                <button class="search" type="sumbit"> 
                    <span class="ico ico-mglass"></span> Validdit!
                </button>
            </form>
            </div>
        </div>
    </body>
</html>