<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="../static/search.css"/>
    <link rel="stylesheet" type="text/css" href="../static/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="../static/banner.css"/>
</head>

<body>
    <div class="banner">
        <h> Validdit </h>
        <div class="logo">
            <img src="../static/elems/img/multicolorCircle.png" alt="Third circle next to logo on the left" width="30" height="30"/>
            <img src="../static/elems/img/multicolorCircle.png" alt="Second circle next to logo on the left" width="40" height="40"/>
            <img src="../static/elems/img/multicolorCircle.png" alt="First circle next to logo on the left" width="50" height="50"/>
            <img src="../static/elems/img/logo.png" alt="Website logo" width="80" height="80"/>
            <img src="../static/elems/img/multicolorCircle.png" alt="Circle next to logo on the right" width="50" height="50"/>
            <img src="../static/elems/img/multicolorCircle.png" alt="Circle next to logo on the right" width="40" height="40"/>
            <img src="../static/elems/img/multicolorCircle.png" alt="Circle next to logo on the right" width="30" height="30"/>
        </div>
    </div>
    <div class="info">
        <div class="box submission">
            <p><strong>Score:</strong> {{score}}</p>
            <p><strong>Upvote Ratio:</strong> {{ratio}}</p>
            <p><strong>Embedded URL:</strong> {{url}}</p>
        </div>
        <div class="box author">
            <p><strong>Author:</strong> {{auth}}</p>
            <p><strong>Author Comment Karma:</strong> {{authCommentKarm}}</p>
            <p><strong>Author Link Karma:</strong> {{authLinkKarm}}</p>
            <p><strong>Is the user verified?:</strong> {{authVerified}}</p>
        </div>
        <div class="box comments">
            <p><strong>Comment amount:</strong> {{comNum}}</p>
            {% for comment in comWithLink %}
                <div class="com">
                    <p>{{comment[0]}}</p>
                    <p>{{comment[2]}}</p>
                </div>
            {% endfor %}
            {% for comment in comWithKey %}
                <div class="com">
                    <p>{{comment[0]}}</p>
                    <p>{{comment[2]}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav>
        <a class="open" onclick="openNav()">&#9776;</a>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a class="footer" href="https://github.com/validdit">Github Repo</a>
        </div>
    </nav>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</body>

</html>